<html>

<head>
  <title>Youtube to Spotify</title>
  <link rel="stylesheet" href="/static/styles/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="popup_box">
    <i class="{{icon}} {{status}}"></i>
    <h1>{{errorTitle}}!</h1>
    <div class="btns">
      <a href="#" class="btn1">Try Again</a>
    </div>
  </div>
  <div class="signupSection">
    <div class="info">
      <h2>Youtube To Spotify</h2>
      <i style="font-size: 60px;" class="fa fa-youtube"></i>
      <br />
      <br />
      <i class='fa fa-refresh' style="font-size: 30;"></i>
      <br />
      <br />
      <i style="font-size: 60px;" class="fa fa-spotify"></i>
      <p><a href="https://erendemirel.com/">Made by Eren Demirel</a></p>
    </div>
    <form action="#" method="POST" class="signupForm" name="signupform">
      <h2>Welcome</h2>
      <ul class="noBullet">
        <li>
          <label for="email"></label>
          <input type="email" class="inputFields" id="email" name="email" placeholder="Email" value="" required />
        </li>
        <li>
          <label for="password"></label>
          <input type="password" class="inputFields" id="password" name="password" placeholder="Password" value=""
            oninput="return passwordValidation(this.value)" required />
          <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </li>
        <li>
          <label for="pl_name"></label>
          <input type="pl_name" class="inputFields" id="pl_name" name="pl_name" placeholder="Playlist Name" value=""
            required />
        </li>
        <li>
          <label for="pl_link"></label>
          <input type="pl_link" class="inputFields" id="pl_link" name="pl_link" placeholder="Playlist Link" value=""
            required />
        </li>
        <div class="loading" id="loading" style="display: none;">
          <div style="margin-left: 43%; margin-top: 5%;" class="spinner">
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
            <div class="spinner-item"></div>
          </div>
        </div>
        <div id="center-btn" class="center-btn">
          <input type="submit" id="join-btn" class="join-btn" onclick="show();" name="join" alt="Join" value="Convert">
        </div>
      </ul>
    </form>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    $(".toggle-password").click(function () {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
    $(document).ready(function () {
      if ("{{errorTitle}}" != "") {
        $('.popup_box').css("display", "block");
      }
      $('.btn1').click(function () {
        $('.popup_box').css("display", "none");
      });
    });
    function show() {
      if (
        document.getElementById("email").value == "" ||
        document.getElementById("password").value == "" ||
        document.getElementById("pl_name").value == "" ||
        document.getElementById("pl_link").value == ""
      ) { }
      else {
        document.getElementById("loading").style.display = "block";
        document.getElementById("center-btn").style.display = "none";
      }
    }
  </script>
</body>

</html>